<h2 class="content-block">Plant Management</h2>

<div class="content-block dx-card responsive-paddings">
    <span>Bölge Ekledikten, sonra kullanıcı grubu ve kullanıcıları eklemeden form işlemi yapılmaz</span>
    <div id="data-grid-demo">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="dataSource"
          keyExpr="ID"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [showBorders]="true"
          (onExporting)="onExporting($event)"
        >

        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
        <dxo-selection mode="multiple"></dxo-selection> <!-- Birden fazla satır seçebilirsin-->

        <!-- sütun isimlerini altındaki searchbox filterlar -->
        <dxo-filter-row
          [visible]="showFilterRow"
          [applyFilter]="currentFilter"
        ></dxo-filter-row>

        <dxo-header-filter [visible]="true"></dxo-header-filter>

        <!-- Sağ yukarıdaki searchbox -->
        <dxo-search-panel 
          [visible]="true"
          [width]="240"
          placeholder="Search..."
        ></dxo-search-panel>

        <dxo-paging [pageSize]="10"> </dxo-paging>

        <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
        >
        </dxo-pager>

          <!-- edit'e tıklanıldıktan sonra çıkan pop-up-->
          <dxo-editing
            mode="form"
            [allowUpdating]="true"
            [allowAdding]="true"
            [form]="{
                items: [
                {
                    dataField: 'Prefix',
                    label: {
                    text: 'Capital İsmi'
                    }
                }
                ]
            }"
            >
            </dxo-editing>
          
          <!-- GRİD SÜTUNLARI VE ÖZELLİKLERİ -->
          <dxi-column dataField="Prefix" caption="Bölge İsmi" [allowExporting]="true">
            <dxi-validation-rule type="required" ></dxi-validation-rule>
          </dxi-column>
          
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            <dxo-export
                [enabled]="true"
                [formats]="['xlsx']"
            ></dxo-export>
        </dx-data-grid>
        
      </div>
</div>

